
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
  }

  .font-DM{
    font-family: 'DM Sans', sans-serif;
  }
  
  .fomt-poppins{
    font-family: 'Poppins', sans-serif;
  }
  .wrapper{
    max-width: 1440px;
    margin: 0 auto;
  }

  
@media screen and (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 224px 1fr;
    grid-template-areas:
      'aside main'
      'aside main'
      'aside main';
  }
}


*::-webkit-scrollbar {
  width: 0.25rem;
  background-color: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #be123c;
  border-radius: 1.2rem;
  width: .25rem;
}